@font-face {
    font-family: 'Cleanvertising';
    src: local('Cleanvertising'),
    url('../fonts/cleanvertising-light.ttf') format('truetype');
    src: local('Cleanvertising'),
    url('../fonts/cleanvertising-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@import "blocks/_variables";
@import "blocks/_mainNavigationMenu";
@import "blocks/main/_welcome";
@import "blocks/main/_addInExamples";
@import "blocks/main/_videoAddInExamples";
@import "blocks/_footer";

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body {
    //max-width: $width-main-max;
    //min-width: $width-main-min;
    background: $colorBackgroundPage;
    font-family: $main-font;
    font-size: 18px;
    margin: 0 auto;
}

.container {
    //margin: 0 auto;
    //width: 1380px;
    //width: 1900px;
    display: grid;
    //grid-template: repeat(27, 10vh)/repeat(12, 1fr);
    grid-template-rows: repeat(auto, 10vh);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
}

header {
    grid-area: 1/1/2/13;
    display: grid;
    grid-template-rows: repeat(1, 10vh);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    position: relative;
}

.nameOfSite {
    grid-area: 1/2/2/8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nameOfSite h1 {
    font-family: 'Cleanvertising';
    font-size: 2.5em;
    font-weight: 700;
    color: $colorCompanyName;
}

main {
    grid-column: 1/13;
    grid-row-start: 2;
    display: grid;
    //grid-template: repeat(22, 10vh)/repeat(12, 1fr);
    grid-template-rows: repeat(auto, 10vh);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
}

footer {
    grid-column: 1/13;
    display: grid;
    //grid-template: repeat(4, 10vh)/repeat(12, 1fr);
    grid-template-rows: repeat(auto, 10vh);
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    background: rgba(0, 0, 0, .9);
    transition-duration: .3s;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}