@font-face {
  font-family: 'Cleanvertising';
  src: local("Cleanvertising"), url("../fonts/cleanvertising-light.ttf") format("truetype");
  src: local("Cleanvertising"), url("../fonts/cleanvertising-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.mainNavigationMenu {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-area: 1/9/3/12;
  width: 100%;
  /* display: grid;
    grid-template: repeat(1, 20vh)/repeat(1, 1fr); */
  z-index: 999999;
}

.mainNavigationMenu__ul {
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (20vh)[1];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(1, 20vh)/repeat(3, 1fr);
  grid-gap: 10px;
}

.mainNavigationMenu__li {
  background: rgba(127, 127, 127, 0.8);
  font-size: 1.1em;
  color: #ffffff;
  min-width: 100px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  cursor: pointer;
}

/* .mainNavigationMenu__li:first-of-type {
    grid-column: 1/2;
}

.mainNavigationMenu__li:nth-of-type(2) {
    grid-column: 2/3;
}

.mainNavigationMenu__li:nth-of-type(3) {
    grid-column: 3/4;
} */
.mainNavigationMenu__li:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.mainNavigationMenu__li.active {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

@media (max-width: 1320px) {
  .mainNavigationMenu__li {
    font-size: 1em;
  }
}

@media (max-width: 1310px) {
  .mainNavigationMenu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-area: 1/8/3/12;
  }
}

@media (max-width: 1060px) {
  .mainNavigationMenu {
    display: none;
  }
}

.welcome {
  background: url(../images/SC.jpg) no-repeat;
  background-size: 100vw 90vh;
  max-width: 100%;
  height: 90vh;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 1/1/10/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[9];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(9, 10vh)/repeat(12, 1fr);
  grid-column-gap: 10px;
}

.welcome__h3,
.welcome__h2 {
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
}

.welcomeTitle {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 9;
  grid-area: 3/3/4/12;
}

.welcome__h3 {
  font-size: 2em;
  margin-bottom: 15px;
}

.welcome__h2 {
  font-size: 3em;
}

.welcome__p {
  color: #ffffff;
  line-height: 1.5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-area: 5/3/7/7;
  text-align: justify;
}

@media (max-width: 1340px) {
  .welcome__p {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 5;
    grid-area: 5/3/7/8;
  }
}

@media (max-width: 1060px) {
  .welcome__p {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 6;
    grid-area: 5/3/7/9;
  }
}

@media (max-width: 880px) {
  .welcome__p {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 7;
    grid-area: 5/3/7/10;
  }
}

@media (max-width: 760px) {
  .welcome__p {
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-area: 5/3/7/11;
  }
}

.addInExamples {
  -ms-grid-row: 10;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: 10/2/15/12;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40vh)[1];
  -ms-grid-columns: (1fr)[3];
      grid-template: repeat(1, 40vh)/repeat(3, 1fr);
  grid-column-gap: 10px;
  margin: 5vh 0;
  height: 40vh;
}

.addInExamples__article {
  position: relative;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.addInExamples__article:hover {
  -webkit-transform: scale(0.9, 0.9);
          transform: scale(0.9, 0.9);
}

.addInExamples__img {
  background: rgba(127, 127, 127, 0.7);
  padding: 30px 40px;
  max-width: 125px;
  position: absolute;
  top: 0;
  left: 15%;
}

.addInExamples__p {
  background: rgba(184, 210, 210, 0.8);
  color: #ffffff;
  font-size: 1em;
  text-align: justify;
  padding: 10px 15px;
  height: 35vh;
  width: 9vw;
  position: absolute;
  top: 6%;
  left: 49%;
}

.addInExamples__h3 {
  background: rgba(242, 152, 99, 0.9);
  padding: 10px;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
  max-width: 200px;
  position: absolute;
  top: 83%;
  left: 26%;
}

/* @media (max-width: 1900px) {
    .addInExamples__img {
        left: 15%;
    }
    .addInExamples__p {
        top: 6%;
        left: 49%;
    }
    .addInExamples__h3 {
        top: 82%;
        left: 26%;
    }
} */
.videoAndFooterBackground {
  background: url(../images/mB.png) no-repeat;
  background-size: 100vw 100%;
  -ms-grid-row: 15;
  -ms-grid-row-span: 12;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 15/1/27/13;
}

.videoAddInExamples {
  -ms-grid-row: 15;
  -ms-grid-row-span: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 15/1/23/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (16vh)[3];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(3, 16vh)/repeat(12, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10vh 0;
}

.videoAddInExamples__video_main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-area: 1/2/4/8;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center center;
     object-position: center center;
}

.videoAddInExamples__video1,
.videoAddInExamples__video2,
.videoAddInExamples__video3,
.videoAddInExamples__video4,
.videoAddInExamples__video5,
.videoAddInExamples__video6 {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center center;
     object-position: center center;
}

.videoAddInExamples__video1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: 1/8/2/10;
}

.videoAddInExamples__video2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: 1/10/2/12;
}

.videoAddInExamples__video3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: 2/8/3/10;
}

.videoAddInExamples__video4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: 2/10/3/12;
}

.videoAddInExamples__video5 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: 3/8/4/10;
}

.videoAddInExamples__video6 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 10;
  -ms-grid-column-span: 2;
  grid-area: 3/10/4/12;
}

p.footerText {
  color: #ffffff;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 10;
  grid-area: 1/2/2/12;
  margin: 4vh 0;
}

.socialIcons {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 2/5/4/7;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
  -ms-grid-columns: ()[1];
      grid-template: repeat(4, auto)/repeat(1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.communicationIcons {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-area: 2/7/4/10;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
  -ms-grid-columns: ()[1];
      grid-template: repeat(3, auto)/repeat(1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socialIcons__a {
  width: 130px;
}

.communicationIcons__a {
  width: 200px;
}

.socialIcons__a:hover .socialIcons__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  background: rgba(184, 210, 210, 0.8);
}

.communicationIcons__a:hover .communicationIcons__img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  background: rgba(242, 152, 99, 0.9);
}

.socialIcons__img,
.communicationIcons__img {
  height: 18px;
  float: left;
  margin-right: 15px;
  background: rgba(127, 127, 127, 0.7);
  padding: 6px;
}

.socialIcons__p,
.communicationIcons__p {
  color: #ffffff;
  font-size: 0.9em;
  font-weight: 400;
  font-style: normal;
  line-height: 2;
}

@media (max-width: 1000px) {
  .socialIcons {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: 2/4/4/7;
  }
  .communicationIcons {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 8;
    -ms-grid-column-span: 4;
    grid-area: 2/8/4/12;
  }
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  background: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  margin: 0 auto;
}

header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1/2/2/4;
  height: 5vh;
  padding: 2vh 0 3vh 0;
}

.nameOfSite {
  font-family: 'Cleanvertising';
  font-size: 2.5em;
  font-weight: 700;
  color: #0d0f11;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[26];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(26, 10vh)/repeat(12, 1fr);
  grid-column-gap: 10px;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 21;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 2/1/23/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[22];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(22, 10vh)/repeat(12, 1fr);
  grid-column-gap: 10px;
}

footer {
  -ms-grid-row: 23;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-area: 23/1/27/13;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (10vh)[4];
  -ms-grid-columns: (1fr)[12];
      grid-template: repeat(4, 10vh)/repeat(12, 1fr);
  grid-column-gap: 10px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */