.videoAndFooterBackground {
    background: url(../images/mB.png) no-repeat;
    background-size: 100vw 100%;
    grid-area: 15/1/27/13;
}

.videoAddInExamples {
    grid-area: 15/1/23/13;
    display: grid;
    grid-template: repeat(3, 16vh)/repeat(12, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10vh 0;
}

.videoAddInExamples__video_main {
    grid-area: 1/2/4/8;
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center center;
}

.videoAddInExamples__video1,
.videoAddInExamples__video2,
.videoAddInExamples__video3,
.videoAddInExamples__video4,
.videoAddInExamples__video5,
.videoAddInExamples__video6 {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center center;
    
}

.videoAddInExamples__video1 {
    grid-area: 1/8/2/10;
}

.videoAddInExamples__video2 {
    grid-area: 1/10/2/12;
}

.videoAddInExamples__video3 {
    grid-area: 2/8/3/10;
}

.videoAddInExamples__video4 {
    grid-area: 2/10/3/12;
}

.videoAddInExamples__video5 {
    grid-area: 3/8/4/10;
}

.videoAddInExamples__video6 {
    grid-area: 3/10/4/12;
}