p.footerText {
    color: $color-text-light;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    grid-area: 1/2/2/12;
    margin: 4vh 0;
}

.socialIcons {
    grid-area: 2/5/4/7;
    display: grid;
    grid-template: repeat(4, auto)/repeat(1);
    align-items: center;
}

.communicationIcons {
    grid-area: 2/7/4/10;
    display: grid;
    grid-template: repeat(3, auto)/repeat(1);
    align-items: center;
}

.socialIcons__a {
    width: 130px;
}

.communicationIcons__a {
    width: 200px;
}

.socialIcons__a:hover {
    .socialIcons__img {
        transform: scale(1.1, 1.1);
        background: rgba(184, 210, 210, .8);
    }
}

.communicationIcons__a:hover {
    .communicationIcons__img {
        transform: scale(1.1, 1.1);
        background: rgba(242, 152, 99, .9);
    }
}

.socialIcons__img,
.communicationIcons__img {
    height: 18px;
    float: left;
    margin-right: 15px;
    background: rgba(127, 127, 127, .7);
    padding: 6px;
}

.socialIcons__p,
.communicationIcons__p {
    color: $color-text-light;
    font-size: 0.9em;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
}

@media (max-width: 1000px) {
    .socialIcons {
        grid-area: 2/4/4/7;
    }
    
    .communicationIcons {
        grid-area: 2/8/4/12;
    }
}