$width-main-max: 1380px;
$width-main-mid: 1000px;
$width-main-min: 600px;

$main-font:'Arial', sans-serif;


//Background
$colorBackgroundPage: #ffffff;

$colorBackgroundList: #7f7f7f;
$colorBackgroundAddInExamples__img: #7f7f7f;

//Text
$colorCompanyName: #0d0f11;
$color-text-dark: #0d0f11;
$color-text-light: #ffffff;